Repository mintiti/pyrat-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-protocol, mypy-engine, mypy-cli, fmt, clippy

.pre-commit-config.yaml:

repos:
  # Generic checks
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-toml
        -   id: check-added-large-files
        -   id: debug-statements

  # Python linting/formatting
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.7.3
      hooks:
        -   id: ruff
            args: [--fix]
            types_or: [python, pyi]
            files: ^(engine/python/|protocol/pyrat_base/|cli/)
        -   id: ruff-format
            types_or: [python, pyi]
            files: ^(engine/python/|protocol/pyrat_base/|cli/)

  # Python type checking - run same as CI for consistency
  -   repo: local
      hooks:
        -   id: mypy-protocol
            name: mypy protocol
            description: Type check protocol package (matches CI)
            entry: uv run --directory protocol/pyrat_base mypy pyrat_base --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^protocol/pyrat_base/
            types: [python]

        -   id: mypy-engine
            name: mypy engine
            description: Type check engine package (matches CI)
            entry: uv run --directory engine mypy python/pyrat_engine --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^engine/python/
            types: [python]

        -   id: mypy-cli
            name: mypy CLI
            description: Type check CLI package (matches CI)
            entry: uv run --directory cli mypy pyrat_runner --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^cli/
            types: [python]

  # Rust checks
  -   repo: local
      hooks:
        -   id: fmt
            name: cargo fmt
            description: Format Rust code
            entry: bash -c 'cargo fmt --all'
            language: system
            types: [rust]
            pass_filenames: false

        -   id: clippy
            name: cargo clippy
            description: Lint Rust code
            entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings -A non-local-definitions'
            language: system
            types: [rust]
            pass_filenames: false

  # Tests
  -   repo: local
      hooks:
        -   id: pytest-engine
            name: pytest engine
            entry: uv run --directory engine pytest python/tests
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

        -   id: pytest-protocol
            name: pytest protocol
            entry: uv run --directory protocol/pyrat_base pytest tests -n auto -m "not slow"
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

        -   id: pytest-cli
            name: pytest CLI
            entry: uv run pytest cli/tests
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

eval(session): tighten CLI test assertions + error-message polish
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

eval(session): fixture bot crates + flags_only_runs_through
  eval/session/tests/cli_run_tournament.rs
  eval/session/tests/fixtures/bot-a/Cargo.lock
  eval/session/tests/fixtures/bot-a/Cargo.toml
  eval/session/tests/fixtures/bot-a/src/main.rs
  eval/session/tests/fixtures/bot-b/Cargo.lock
  eval/session/tests/fixtures/bot-b/Cargo.toml
  eval/session/tests/fixtures/bot-b/src/main.rs
Due: fmt, clippy

eval(session): --save-as rebases paths via .. across sibling subtrees
  eval/session/src/bin/pyrat-eval/tournament_run.rs
Due: fmt, clippy

eval(session): rustfmt cleanup
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/session.rs
Due: fmt, clippy

docs: remove .mt/ux/intent.md reference, note tiny default in README
  CLAUDE.md
  README.md
Due: none

eval(session): refresh test module headers
  eval/session/tests/cli_run_tournament.rs
  eval/session/tests/validate.rs
Due: fmt, clippy

eval(session): require expected_params, Box<dyn Planner>, orchestrator re-export
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/lib.rs
  eval/session/src/plan.rs
Due: fmt, clippy

eval(session): gauntlet_slot_order as single source of truth
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/lib.rs
  eval/session/src/plan.rs
  eval/session/src/session.rs
Due: fmt, clippy

eval(session): typed TournamentMismatch + geometry in drift errors
  eval/session/src/lib.rs
  eval/session/src/session.rs
  eval/session/tests/validate.rs
  eval/store/src/store.rs
Due: fmt, clippy

eval(session): move --save-as projection to tournament_save.rs
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
Due: fmt, clippy

eval(session): LaunchMode makes seed/resume illegal states unrepresentable
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
Due: fmt, clippy

eval(session): ResolvedGame mirrors the shape + overlay algebra
  eval/session/src/bin/pyrat-eval/game_config_build.rs
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
Due: fmt, clippy

eval(session): translate resume mismatches into CLI vocabulary
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

eval(session): validate bot working dirs before any store row exists
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
Due: fmt, clippy

eval(session): all-failures tournament exits 1 with finished_no_results
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

eval(session): announce tournament id at start, resume hint on abort
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

eval: tracing to stderr, shared timing defaults, FailureReason Display
  eval/orchestrator/src/outcome.rs
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

eval(session): point flags-only e2e at botpack, drop fixture crates
  eval/session/tests/cli_run_tournament.rs
  eval/session/tests/fixtures/bot-a/Cargo.lock
  eval/session/tests/fixtures/bot-a/Cargo.toml
  eval/session/tests/fixtures/bot-a/src/main.rs
  eval/session/tests/fixtures/bot-b/Cargo.lock
  eval/session/tests/fixtures/bot-b/Cargo.toml
  eval/session/tests/fixtures/bot-b/src/main.rs
Due: fmt, clippy

eval(session): polish pass — help text, README spec example, error paths
  README.md
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_config.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
Due: fmt, clippy

eval(session): close resolver test gaps
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
Due: fmt, clippy

eval(session): tighten e2e assertions, add --replay-dir coverage
  eval/session/tests/cli_run_tournament.rs
  eval/session/tests/e2e_smoke.rs
Due: fmt, clippy

eval(session): rustfmt cleanup
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
  eval/session/src/session.rs
Due: fmt, clippy

eval(session): box GameConfigRecords in the drift variant
  eval/session/src/session.rs
Due: fmt, clippy

host(player): forward sideband at ingestion, off the game channel
  server/host/src/player/embedded.rs
  server/host/src/player/mod.rs
  server/host/src/player/tcp.rs
  server/host/tests/tcp_player.rs
Due: fmt, clippy

gui: request unlimited think in analysis mode
  gui/src-tauri/src/match_runner.rs
Due: fmt, clippy

sdk: treat SearchLimits timeout 0/unset as unconstrained
  sdk/python/pyrat_sdk/bot.py
  sdk/rust/src/lib.rs
Due: fmt, clippy

host(match): tolerate deadline-race lateness from honest bots
  server/host/src/match_host/phases.rs
  server/host/tests/match_lifecycle.rs
Due: fmt, clippy

Add pyrat-eval tournament run subcommand (#201)
  CLAUDE.md
  Cargo.lock
  README.md
  eval/orchestrator/src/outcome.rs
  eval/session/Cargo.toml
  eval/session/src/bin/pyrat-eval.rs
  eval/session/src/bin/pyrat-eval/game_config_build.rs
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/orchestrator_config_build.rs
  eval/session/src/bin/pyrat-eval/tournament_config.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
  eval/session/src/lib.rs
  eval/session/src/plan.rs
  eval/session/src/session.rs
  eval/session/tests/cli_run_tournament.rs
  eval/session/tests/common/mod.rs
  eval/session/tests/e2e_smoke.rs
  eval/session/tests/resume.rs
  eval/session/tests/shutdown.rs
  eval/session/tests/validate.rs
  eval/store/src/store.rs
  gui/src-tauri/src/match_runner.rs
  sdk/python/pyrat_sdk/bot.py
  sdk/rust/src/lib.rs
  server/host/src/match_host/phases.rs
  server/host/src/player/embedded.rs
  server/host/src/player/mod.rs
  server/host/src/player/tcp.rs
  server/host/tests/match_lifecycle.rs
  server/host/tests/tcp_player.rs
Due: fmt, clippy

Add think-deadline safety margin + honest overshoot warning to Python SDK
  sdk/python/pyrat_sdk/bot.py
  sdk/python/tests/test_context.py
Due: none

Add botpack Elo ladder: committed spec, CI workflow, gh-pages standings
  .github/workflows/ladder.yml
  .gitignore
  README.md
  botpack/README.md
  botpack/ladder.toml
  tools/render_ladder.py
Due: none

Anchor ladder Elo at greedy, matching alpharat's benchmark convention
  botpack/ladder.toml
Due: none

Add botpack Elo ladder: committed spec, CI workflow, gh-pages standings (#202)
  .github/workflows/ladder.yml
  .gitignore
  README.md
  botpack/README.md
  botpack/ladder.toml
  sdk/python/pyrat_sdk/bot.py
  sdk/python/tests/test_context.py
  tools/render_ladder.py
Due: none

deploy: a7e76a03c4fb2ffab0890b16b28e57340a0bb819
  .nojekyll
  index.html
  results.json
Due: none

Redesign ladder page around the uncertainty data
  tools/render_ladder.py
Due: none

Raise ladder to 15 games per matchup
  botpack/ladder.toml
Due: none

Add elo_stderr and games to tournament standings output
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
Due: fmt, clippy

Ladder standings with uncertainty: elo_stderr in results JSON, redesigned page, 15 games (#203)
  botpack/ladder.toml
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/tests/cli_run_tournament.rs
  tools/render_ladder.py
Due: fmt, clippy

deploy: ccb8b57f324189850dd28997b62a7707f3be0d7a
  index.html
  results.json
Due: none

bench(engine): establish measurement foundation
  .github/workflows/rust.yml
  .github/workflows/test.yml
  Makefile
  engine/CLAUDE.md
  engine/README.md
  engine/python/benchmarks/benchmark_engine.py
  engine/rust/benches/bin/profile_game.rs
  engine/rust/benches/game_benchmarks.rs
  engine/rust/benches/support.rs
  engine/rust/src/bench_scenarios.rs
  engine/rust/src/game/mod.rs
  engine/rust/src/game/semantic_compatibility.rs
Due: mypy-engine, fmt, clippy

bench(engine): add reliable performance baselines (#204)
  .github/workflows/rust.yml
  .github/workflows/test.yml
  Makefile
  engine/CLAUDE.md
  engine/README.md
  engine/python/benchmarks/benchmark_engine.py
  engine/rust/benches/bin/profile_game.rs
  engine/rust/benches/game_benchmarks.rs
  engine/rust/benches/support.rs
  engine/rust/src/bench_scenarios.rs
  engine/rust/src/game/mod.rs
  engine/rust/src/game/semantic_compatibility.rs
Due: mypy-engine, fmt, clippy
