Repository mintiti/pyrat-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-protocol, mypy-engine, mypy-cli, fmt, clippy

.pre-commit-config.yaml:

repos:
  # Generic checks
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-toml
        -   id: check-added-large-files
        -   id: debug-statements

  # Python linting/formatting
  -   repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.7.3
      hooks:
        -   id: ruff
            args: [--fix]
            types_or: [python, pyi]
            files: ^(engine/python/|protocol/pyrat_base/|cli/)
        -   id: ruff-format
            types_or: [python, pyi]
            files: ^(engine/python/|protocol/pyrat_base/|cli/)

  # Python type checking - run same as CI for consistency
  -   repo: local
      hooks:
        -   id: mypy-protocol
            name: mypy protocol
            description: Type check protocol package (matches CI)
            entry: uv run --directory protocol/pyrat_base mypy pyrat_base --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^protocol/pyrat_base/
            types: [python]

        -   id: mypy-engine
            name: mypy engine
            description: Type check engine package (matches CI)
            entry: uv run --directory engine mypy python/pyrat_engine --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^engine/python/
            types: [python]

        -   id: mypy-cli
            name: mypy CLI
            description: Type check CLI package (matches CI)
            entry: uv run --directory cli mypy pyrat_runner --ignore-missing-imports
            language: system
            pass_filenames: false
            files: ^cli/
            types: [python]

  # Rust checks
  -   repo: local
      hooks:
        -   id: fmt
            name: cargo fmt
            description: Format Rust code
            entry: bash -c 'cargo fmt --all'
            language: system
            types: [rust]
            pass_filenames: false

        -   id: clippy
            name: cargo clippy
            description: Lint Rust code
            entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings -A non-local-definitions'
            language: system
            types: [rust]
            pass_filenames: false

  # Tests
  -   repo: local
      hooks:
        -   id: pytest-engine
            name: pytest engine
            entry: uv run --directory engine pytest python/tests
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

        -   id: pytest-protocol
            name: pytest protocol
            entry: uv run --directory protocol/pyrat_base pytest tests -n auto -m "not slow"
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

        -   id: pytest-cli
            name: pytest CLI
            entry: uv run pytest cli/tests
            language: system
            pass_filenames: false
            always_run: true
            stages: [pre-push]  # Only run on push, not on every commit

deploy: ae9def3f2377129c34281b7367d7345d86ebe557
  index.html
  results.json
Due: none

fix(engine): keep observations synchronized
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
Due: mypy-engine, fmt, clippy

fix(engine): keep observations in sync with game state (#205)
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
Due: mypy-engine, fmt, clippy

deploy: fcd1d2ae8d8d0e0838b56dabf46b2c64d549bcdf
  index.html
  results.json
Due: none

perf(engine): defer cheese collection allocation
  engine/rust/benches/game_benchmarks.rs
  engine/rust/src/game/game_logic.rs
Due: fmt, clippy

perf(engine): avoid cheese allocation on ordinary turns (#206)
  engine/rust/benches/game_benchmarks.rs
  engine/rust/src/game/game_logic.rs
Due: fmt, clippy

deploy: 39b1cec876c57f7b3154547dbf8d545861108f25
  index.html
  results.json
Due: none

perf(engine): avoid redundant mud lookups
  engine/rust/src/game/builder.rs
  engine/rust/src/game/maze_generation.rs
  engine/rust/src/game/semantic_compatibility.rs
  engine/rust/src/game/types.rs
Due: fmt, clippy

perf(engine): avoid redundant mud lookups (#207)
  engine/rust/src/game/builder.rs
  engine/rust/src/game/maze_generation.rs
  engine/rust/src/game/semantic_compatibility.rs
  engine/rust/src/game/types.rs
Due: fmt, clippy

deploy: 8de7768d854caac4cab0b36dd0764e588d2349be
  index.html
  results.json
Due: none

perf(engine): remove symmetric cheese bookkeeping
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

perf(engine): speed up symmetric cheese generation (#208)
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

deploy: f9207fb2813b707bbf37b0e53025b4e61d4314db
  index.html
  results.json
Due: none

perf(engine): use dense maze connection grid
  engine/rust/benches/game_benchmarks.rs
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

perf(engine): speed up maze passage tracking (#209)
  engine/rust/benches/game_benchmarks.rs
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

deploy: 84cde00c08ffc667c2f6d2249b50269eadccaab5
  index.html
  results.json
Due: none

perf(engine): fast-path open maze creation
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
Due: fmt, clippy

perf(engine): speed up open maze creation (#210)
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
Due: fmt, clippy

deploy: a65ba971b6c3f975e090f7516060cce45853394c
  index.html
  results.json
Due: none

perf(engine): make maze connectivity deterministic
  engine/rust/src/game/builder.rs
  engine/rust/src/game/maze_generation.rs
  engine/rust/src/game/maze_generation_distribution_tests.rs
  engine/rust/src/game/semantic_compatibility.rs
Due: fmt, clippy

perf(engine): make maze connectivity deterministic (#211)
  engine/rust/src/game/builder.rs
  engine/rust/src/game/maze_generation.rs
  engine/rust/src/game/maze_generation_distribution_tests.rs
  engine/rust/src/game/semantic_compatibility.rs
Due: fmt, clippy

deploy: 86972087eea44a24c05e2c1ca43ec1f87fb6ebcb
  index.html
  results.json
Due: none

perf(engine): compile generated topology directly
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

perf(engine): compile generated topology directly (#212)
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

deploy: e8ac93f180ce6cc797f91d9d4f8c2e6a40fc4768
  index.html
  results.json
Due: none

perf(engine): reuse compiled maze layouts
  engine/python/benchmarks/benchmark_engine.py
  engine/python/pyrat_engine/__init__.py
  engine/python/pyrat_engine/_core/builder.pyi
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/__init__.py
  engine/python/pyrat_engine/core/builder.py
  engine/python/pyrat_engine/core/builder.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_builder_api.py
  engine/python/tests/test_env.py
  engine/python/tests/test_module_structure.py
  engine/rust/benches/game_benchmarks.rs
  engine/rust/benches/support.rs
  engine/rust/src/bindings/game.rs
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
  engine/rust/src/game/maze_layout.rs
  engine/rust/src/game/mod.rs
  engine/rust/src/game/types.rs
  engine/rust/src/lib.rs
Due: mypy-engine, fmt, clippy

perf(engine): reuse generated maze layouts (#213)
  engine/python/benchmarks/benchmark_engine.py
  engine/python/pyrat_engine/__init__.py
  engine/python/pyrat_engine/_core/builder.pyi
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/__init__.py
  engine/python/pyrat_engine/core/builder.py
  engine/python/pyrat_engine/core/builder.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_builder_api.py
  engine/python/tests/test_env.py
  engine/python/tests/test_module_structure.py
  engine/rust/benches/game_benchmarks.rs
  engine/rust/benches/support.rs
  engine/rust/src/bindings/game.rs
  engine/rust/src/game/board.rs
  engine/rust/src/game/builder.rs
  engine/rust/src/game/game_logic.rs
  engine/rust/src/game/maze_layout.rs
  engine/rust/src/game/mod.rs
  engine/rust/src/game/types.rs
  engine/rust/src/lib.rs
Due: mypy-engine, fmt, clippy

deploy: 5d0438da820d994864692f8e25f44568d6c23ba8
  index.html
  results.json
Due: none

perf(engine): share paired observation arrays
  engine/python/benchmarks/benchmark_engine.py
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
  engine/rust/src/game/observations.rs
Due: mypy-engine, fmt, clippy

perf(engine): share paired observation arrays (#214)
  engine/python/benchmarks/benchmark_engine.py
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
  engine/rust/src/game/observations.rs
Due: mypy-engine, fmt, clippy

deploy: be98569c3e8530509a4892b8bbe415658abf1df1
  index.html
  results.json
Due: none

perf(engine): fuse step and observation export
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
Due: mypy-engine, fmt, clippy

perf(engine): fuse step and observation export (#215)
  engine/python/pyrat_engine/_core/game.pyi
  engine/python/pyrat_engine/core/game.pyi
  engine/python/pyrat_engine/env.py
  engine/python/tests/test_env.py
  engine/python/tests/test_game.py
  engine/rust/src/bindings/game.rs
Due: mypy-engine, fmt, clippy

deploy: 87d6491e2904a0c8dcc5c056bb603bcc21577b15
  index.html
  results.json
Due: none

eval: seat de-biasing, tournament naming, and resolver matrix
  eval/session/src/bin/pyrat-eval/main.rs
  eval/session/src/bin/pyrat-eval/tournament_config.rs
  eval/session/src/bin/pyrat-eval/tournament_resolve.rs
  eval/session/src/bin/pyrat-eval/tournament_run.rs
  eval/session/src/bin/pyrat-eval/tournament_save.rs
  eval/session/src/descriptor.rs
  eval/session/src/lib.rs
  eval/session/src/mapping.rs
  eval/session/src/plan.rs
  eval/session/src/session.rs
  eval/session/src/state.rs
  eval/session/src/store_sink.rs
  eval/session/tests/bootstrap_atomic.rs
  eval/session/tests/common/mod.rs
  eval/session/tests/e2e_smoke.rs
  eval/session/tests/resume.rs
  eval/session/tests/shutdown.rs
  eval/session/tests/validate.rs
  eval/store/src/lib.rs
  eval/store/src/schema.rs
  eval/store/src/store.rs
  eval/store/src/types.rs
Due: fmt, clippy

gui frontend: React tournament module
  gui/src/App.tsx
  gui/src/components/HomePage.tsx
  gui/src/components/MazeRenderer.tsx
  gui/src/components/Sidebar.tsx
  gui/src/components/TournamentsPage.tsx
  gui/src/components/tournament/BotView.tsx
  gui/src/components/tournament/GameCard.tsx
  gui/src/components/tournament/GameView.tsx
  gui/src/components/tournament/Hero.tsx
  gui/src/components/tournament/LaunchView.tsx
  gui/src/components/tournament/LiveChip.tsx
  gui/src/components/tournament/LiveView.tsx
  gui/src/components/tournament/MatchupView.tsx
  gui/src/components/tournament/Standings.tsx
  gui/src/components/tournament/theme.ts
  gui/src/components/tournament/useGameReplay.ts
  gui/src/components/tournament/useTournamentEvents.ts
  gui/src/index.css
  gui/src/main.tsx
  gui/src/renderer/layout.ts
  gui/src/stores/matchStore.ts
  gui/src/stores/tournamentStore.test.ts
  gui/src/stores/tournamentStore.ts
Due: none

gui backend: Tauri tournament module
  Cargo.lock
  gui/src-tauri/Cargo.toml
  gui/src-tauri/src/main.rs
  gui/src-tauri/src/state.rs
  gui/src-tauri/src/tournament_commands.rs
  gui/src-tauri/src/tournament_config.rs
  gui/src-tauri/src/tournament_events.rs
  gui/src-tauri/src/tournament_paths.rs
  gui/src-tauri/src/tournament_runner.rs
  gui/src/bindings/generated.ts
Due: fmt, clippy

host: preflight bots through Ready hash
  server/host/src/probe.rs
Due: fmt, clippy

engine: symmetric cheese never lands on a player under random starts
  engine/rust/src/game/maze_generation.rs
Due: fmt, clippy

host: drain bot stderr via a shared helper (fixes warmup deadlock)
  eval/orchestrator/src/run_match.rs
  gui/src-tauri/src/match_runner.rs
  server/host/src/launch.rs
  server/host/src/probe.rs
Due: fmt, clippy
