Repository mintiti/pyrat-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-protocol, mypy-engine, mypy-cli, fmt, clippy

mypy-protocol:
  name: mypy protocol
  description: Type check protocol package (matches CI)
  entry: uv run --directory protocol/pyrat_base mypy pyrat_base --ignore-missing-imports
  language: system
  pass_filenames: false

mypy-engine:
  name: mypy engine
  description: Type check engine package (matches CI)
  entry: uv run --directory engine mypy python/pyrat_engine --ignore-missing-imports
  language: system
  pass_filenames: false

mypy-cli:
  name: mypy CLI
  description: Type check CLI package (matches CI)
  entry: uv run --directory cli mypy pyrat_runner --ignore-missing-imports
  language: system
  pass_filenames: false

fmt:
  name: cargo fmt
  description: Format Rust code
  entry: bash -c 'cargo fmt --all'
  language: system
  pass_filenames: false

clippy:
  name: cargo clippy
  description: Lint Rust code
  entry: bash -c 'cargo clippy --all-targets --all-features -- -D warnings -A non-local-definitions'
  language: system
  pass_filenames: false

refactor(gui): extract botInfo utils, simplify PV arrow data model
  gui/src/components/PvOverlay.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/components/thinking/AnalysisLine.tsx
  gui/src/components/thinking/BotSection.tsx
  gui/src/components/thinking/BotSummaryCard.tsx
  gui/src/renderer/pvArrows.test.ts
  gui/src/renderer/pvArrows.ts
  gui/src/stores/botInfo.ts
  gui/src/stores/matchStore.test.ts
  gui/src/stores/matchStore.ts
Due: none

PV arrow overlays on maze viewer (#165)
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MazeRenderer.tsx
  gui/src/components/PvOverlay.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/components/thinking/AnalysisLine.tsx
  gui/src/components/thinking/BotSection.tsx
  gui/src/components/thinking/BotSummaryCard.tsx
  gui/src/renderer/layout.ts
  gui/src/renderer/pvArrows.test.ts
  gui/src/renderer/pvArrows.ts
  gui/src/stores/botInfo.ts
  gui/src/stores/matchStore.test.ts
  gui/src/stores/matchStore.ts
Due: none

feat(gui): add AppShell sidebar, replace prop-based navigation
  gui/src/App.tsx
  gui/src/components/BotsPage.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/Sidebar.tsx
Due: none

chore(gui): remove unnecessary Fragment wrapper in Sidebar
  gui/src/components/Sidebar.tsx
Due: none

AppShell sidebar for page navigation (#166)
  gui/src/App.tsx
  gui/src/components/BotsPage.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/Sidebar.tsx
Due: none

Home view with activity card for game domain
  gui/src/App.tsx
  gui/src/components/HomePage.tsx
Due: none

Setup view with two-panel layout for match configuration
  engine/rust/src/game/builder.rs
  gui/src/App.tsx
  gui/src/components/HomePage.tsx
  gui/src/components/MatchConfigDrawer.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/SetupView.tsx
  gui/src/stores/matchConfigAtom.ts
Due: fmt, clippy

Hide score strip in setup view preview
  gui/src/components/MazeRenderer.tsx
  gui/src/components/SetupView.tsx
  gui/src/renderer/instructions.ts
Due: none

Match view restructure: separate match phase from cursor mode
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/components/thinking/AnalysisLine.tsx
  gui/src/components/thinking/BotPanel.tsx
  gui/src/renderer/instructions.ts
  gui/src/stores/matchStore.ts
Due: none

add botpack crates and Python bots with bot.toml manifests
  botpack/greedy-py/bot.py
  botpack/greedy-py/bot.toml
  botpack/greedy/Cargo.toml
  botpack/greedy/bot.toml
  botpack/greedy/src/main.rs
  botpack/search/Cargo.toml
  botpack/search/bot.toml
  botpack/search/src/main.rs
  botpack/smart-random/Cargo.toml
  botpack/smart-random/bot.toml
  botpack/smart-random/src/main.rs
Due: fmt, clippy

Replace app icon with project logo
  gui/src-tauri/icons/128x128.png
  gui/src-tauri/icons/128x128@2x.png
  gui/src-tauri/icons/32x32.png
  gui/src-tauri/icons/64x64.png
  gui/src-tauri/icons/icon.ico
  gui/src-tauri/icons/icon.png
  gui/src-tauri/tauri.conf.json
Due: none

Fix tauri.conf.json formatting
  gui/src-tauri/tauri.conf.json
Due: none

Extract beginConnecting store action from raw setState calls
  gui/src/components/MatchView.tsx
  gui/src/stores/matchStore.ts
Due: none

fix(botpack): hoist opp_moves out of inner loop, normalize rand imports
  botpack/search/src/main.rs
  botpack/smart-random/src/main.rs
Due: fmt, clippy

add pyrat-check bot smoke test tool
  Cargo.lock
  Cargo.toml
  Makefile
  botpack/greedy/Cargo.toml
  botpack/search/Cargo.toml
  botpack/search/src/main.rs
  botpack/smart-random/Cargo.toml
  tools/bot-check/Cargo.toml
  tools/bot-check/src/check.rs
  tools/bot-check/src/main.rs
  tools/bot-check/src/manifest.rs
Due: fmt, clippy

simplify pyrat-check: remove duplicated helpers, reuse game instance
  tools/bot-check/src/check.rs
  tools/bot-check/src/manifest.rs
Due: fmt, clippy

Add event timeline to match view
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/match_runner.rs
  gui/src/bindings/generated.ts
  gui/src/components/EventTimeline.tsx
  gui/src/components/MatchView.tsx
  gui/src/harness/testData.ts
Due: fmt, clippy

Redesign event timeline: align to maze, adaptive width, fix score strip
  gui/src/components/EventTimeline.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/MazeColumn.tsx
  gui/src/components/MazeRenderer.tsx
  gui/src/renderer/layout.ts
Due: none

Move result display to inline banner, humanize disconnect messages
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/ResultBanner.tsx
Due: none

Deduplicate bot name resolution, memoize timeline SVG elements
  gui/src/components/EventTimeline.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MazeColumn.tsx
  gui/src/components/ResultBanner.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/stores/botConfigAtom.ts
Due: none

Remove dev harness and stale .gitkeep
  gui/src/components/.gitkeep
  gui/src/harness/DevHarness.tsx
  gui/src/harness/testData.ts
Due: none

Separate autoplay from go-live, fix sidebar nav and stale config
  gui/src/App.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/stores/matchStore.ts
Due: none

Fix small preset test to match updated height (11 → 13)
  engine/python/tests/test_game.py
Due: mypy-engine

Home view with setup flow and match redesign (#167)
  engine/python/tests/test_game.py
  engine/rust/src/game/builder.rs
  gui/src-tauri/icons/128x128.png
  gui/src-tauri/icons/128x128@2x.png
  gui/src-tauri/icons/32x32.png
  gui/src-tauri/icons/64x64.png
  gui/src-tauri/icons/icon.ico
  gui/src-tauri/icons/icon.png
  gui/src-tauri/src/commands.rs
  gui/src-tauri/src/match_runner.rs
  gui/src-tauri/tauri.conf.json
  gui/src/App.tsx
  gui/src/bindings/generated.ts
  gui/src/components/.gitkeep
  gui/src/components/EventTimeline.tsx
  gui/src/components/HomePage.tsx
  gui/src/components/MatchConfigDrawer.tsx
  gui/src/components/MatchToolbar.tsx
  gui/src/components/MatchView.tsx
  gui/src/components/MazeColumn.tsx
  gui/src/components/MazeRenderer.tsx
  gui/src/components/ResultBanner.tsx
  gui/src/components/SetupView.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/components/thinking/AnalysisLine.tsx
  gui/src/components/thinking/BotPanel.tsx
  gui/src/harness/DevHarness.tsx
  gui/src/harness/testData.ts
  gui/src/renderer/instructions.ts
  gui/src/renderer/layout.ts
  gui/src/stores/botConfigAtom.ts
  gui/src/stores/matchConfigAtom.ts
  gui/src/stores/matchStore.ts
Due: mypy-engine, fmt, clippy

feat(wire/gui): optional score in Info, thinking panel redesign
  gui/src-tauri/src/events.rs
  gui/src/bindings/generated.ts
  gui/src/components/ResultBanner.tsx
  gui/src/components/SetupView.tsx
  gui/src/components/ThinkingPanel.tsx
  gui/src/components/thinking/AnalysisLine.tsx
  gui/src/components/thinking/BotPanel.tsx
  gui/src/components/thinking/BotSummaryCard.tsx
  gui/src/renderer/pvArrows.test.ts
  gui/src/renderer/pvArrows.ts
  sdk/python/pyrat_sdk/_wire/codec.py
  sdk/python/pyrat_sdk/_wire/protocol/Info.py
  sdk/python/pyrat_sdk/bot.py
  sdk/rust/examples/search.rs
  sdk/rust/src/bot.rs
  sdk/rust/src/wire.rs
  server/host/src/game_loop/playing.rs
  server/host/src/session/codec.rs
  server/host/src/session/messages.rs
  server/host/src/stub.rs
  server/host/tests/orchestration_integration.rs
  server/schema/pyrat.fbs
  server/wire/src/pyrat_generated.rs
Due: fmt, clippy

fix(gui): track botPalette.ts and anchor lib/ gitignore to repo root
  .gitignore
  gui/src/lib/botPalette.ts
Due: none

Rename simulate() → to_sim() across both SDKs
  sdk/python/README.md
  sdk/python/examples/search.py
  sdk/python/pyrat_sdk/state.py
  sdk/python/src/maze.rs
  sdk/python/src/sim.rs
  sdk/python/tests/test_state.py
  sdk/rust/README.md
  sdk/rust/examples/search.rs
  sdk/rust/src/lib.rs
  sdk/rust/src/state.rs
Due: fmt, clippy

Update sdk/README.md to use to_sim() (missed in rename)
  sdk/README.md
Due: none

Remove GameSim wrapper, expose engine GameState directly (#170)
  sdk/README.md
  sdk/python/README.md
  sdk/python/examples/search.py
  sdk/python/pyrat_sdk/state.py
  sdk/python/src/maze.rs
  sdk/python/src/sim.rs
  sdk/python/tests/test_state.py
  sdk/rust/README.md
  sdk/rust/examples/search.rs
  sdk/rust/src/lib.rs
  sdk/rust/src/state.rs
Due: fmt, clippy

Fix GameSim type consistency in SDK README and state.rs
  sdk/rust/README.md
  sdk/rust/src/state.rs
Due: fmt, clippy

Fix GameSim type consistency in Rust SDK (#171)
  sdk/rust/README.md
  sdk/rust/src/state.rs
Due: fmt, clippy

add botpack README: bot listing, how to run, bot.toml convention
  botpack/README.md
Due: none

send_info coverage pass: all botpack bots now report info
  botpack/greedy-py/bot.py
  botpack/greedy/src/main.rs
  botpack/search-py/bot.py
  botpack/search/src/main.rs
  botpack/smart-random-py/bot.py
  botpack/smart-random/src/main.rs
Due: fmt, clippy

add Python bots: search-py, smart-random-py
  botpack/greedy/Cargo.lock
  botpack/search-py/bot.py
  botpack/search-py/bot.toml
  botpack/search/Cargo.lock
  botpack/smart-random-py/bot.py
  botpack/smart-random-py/bot.toml
  botpack/smart-random/Cargo.lock
Due: none

update READMEs: root rewrite, botpack voice and table
  README.md
  botpack/README.md
Due: none

Path conditions:
  mypy-protocol: any of: ^protocol/pyrat_base/ and \.py$
  mypy-engine: any of: ^engine/python/ and \.py$
  mypy-cli: any of: ^cli/ and \.py$
  fmt: any of: \.rs$
  clippy: any of: \.rs$
